/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}
.container .nav {
  float: right;
  width: 40%;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.container .nav .nav-link {
  text-decoration: none;
  width: 65px;
  color: black;
  font-size: 1.3rem;
}
.container .about-me {
  display: flex;
  flex-direction: column;
  width: 850px;
  height: 50%;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 60px;
  background-color: silver;
}
.container .about-me .img {
  width: 40%;
  height: 40%;
  padding-bottom: 10px;
}
.container .about-me h1 {
  font-size: 2rem;
  padding-bottom: 10px;
}
.container .about-me p {
  font-size: 1.3rem;
  padding-bottom: 30px;
}
.container .about-me hr {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 30px;
}
.container .about-me button {
  background-color: grey;
  color: white;
  width: 20%;
  height: 2.5rem;
  border-radius: 10px;
  font-weight: bold;
}
.container .more-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  line-height: 1.5em;
  justify-content: flex-start;
}
.container .more-info .bio {
  width: 50%;
  padding: 30px 30px 30px 0;
}
.container .more-info .bio h1 {
  font-weight: bold;
  font-size: 2rem;
}
.container .more-info .skills {
  width: 50%;
  padding: 30px 30px 30px 0;
}
.container .more-info .skills li {
  border: 1px solid silver;
  padding: 10px;
}
.container .more-info .skills h1 {
  font-weight: bold;
  font-size: 2rem;
}
.container .experience .table {
  width: 100%;
  border: 2px solid black;
  text-align: center;
}
